{
	"aws":
	{
		"key": "",
		"secret": "",
		"region": "",
		"limit": 0
	},
	"mysql":
	{
		"host": "",
		"port": "",
		"user": "",
		"password": "",
		"database": ""
	},
	"notify":
	{
		"sender": "",
		"recipient": ""
	}
}
